@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/loading";
@import "module/login";
@import "module/signup";

@import "state/navbar";


html, body {
  background: #FAFAFA !important;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

// remove odd yellow background for inputs/forms
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

// get rid of underlines on <Link>
a {
  text-decoration: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; 
  z-index: 0;
}

// show/hide normal menu vs mobile drawer menu
.navLinks {
	@media screen and (max-width: 620px) {
    	display: none !important;
  	}
}

// show/hide normal menu vs mobile drawer menu
.mobileNav {
  color: #fff;
  @media screen and (min-width: 620px) {
      display: none !important;
    }
}